<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css"/>
    <style>
        .container {
            width: 1140px;
            max-width: 100%
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Ward View</h1>
    <div id="chart" style="height: 400px; margin: 0 auto"></div>
</div>
<!--<script type="text/javascript" src="/Content/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="/Content/knockout.min.js"></script>-->
<script type="text/javascript" src="/Content/jquery.min.js"></script>
<script type="text/javascript" src="/Content/highcharts.js"></script>
<script>
$(function () {

    var chart; // global

    function requestData() {
        $.ajax({
            url: '/WardData',
            success: function(data) {

                var points = $.map(data, function(n, i) {
                    return n.count;
                });


                chart.series[0].setData(points);
               // $.each(data, function(i, d) {
                 //   chart.series[0].addPoint([d.count]);
                //});
                //var series = chart.series[0];


                //var series = chart.series[0],
                  //  shift = series.data.length > 20; // shift if the series is
                                                     // longer than 20

                // add the point
                //chart.series[0].addPoint(point, true, shift);

                // call it again after one second
                setTimeout(requestData, 1000);
            },
            cache: false
        });
    }

    chart = Highcharts.chart('chart', {
        chart: {
            type: 'column',
            marginRight: 10,
            events: {
                load: requestData()
            }
        },
        title: {
            text: null
        },
        xAxis: {
            categories: [
                '0-10',
                '11-20',
                '21-30',
                '31-40',
                '41-50',
                '51-60',
                '61-70',
                '71+'
            ]
        },
        yAxis: {
            title: {
                text: 'Value'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            enabled: false
        },
        exporting: {
            enabled: false
        },
        series: [{
            name: null,
            data: [],
        }]
    });
 });
</script>
</body>
</html>